name: CI

on:
    merge_group:
        types: [checks_requested]
    pull_request_target:
        types:
            - opened
            - synchronize
        branches:
            - "*"
            - "!renovate/web"

jobs:
    build:
        name: Check for Successful Build
        timeout-minutes: 15
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Setup
              uses: ./.github/actions/setup

            - name: Build
              run: pnpm run ci

    biome:
        name: Check Formatting
        timeout-minutes: 15
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Biome
              uses: biomejs/setup-biome@v2
            - name: Run Biome
              run: biome ci .

    test:
        name: Run Test Suites
        timeout-minutes: 15
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Setup
              uses: ./.github/actions/setup

            - name: Run tests
              run: pnpm run test
